@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", serif;
  font-weight: 500;
}

button {
  height: 40px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
input {
  height: 40px !important;
  border-radius: 0 !important;
  border: 1px solid #e2e8f0 !important;
}

input:focus {
  box-shadow: none !important;
  border: 1px solid #63b3ed !important;
}
.ant-form-item {
  margin-bottom: 10 !important;
}
.ant-form-item-label {
  padding: 0 !important;
}
